<b id="guess">{{recommendedGuessText}}</b>
<p id="remaining-words">Remaining words: {{remainingWords}}</p>
<br><br>
<div>
  <p *ngFor="let item of [].constructor(6); let i = index">
    Guess {{1+i}}: <input type="text" id="guess-input-{{i}}" [formControl]="guessForms[i]" (change)="inputChanges()" [style.border-color]="guessForms[i].invalid ? '' : 'green'">
    Answer {{1+i}}: <input type="text" id="answer-input-{{i}}" [formControl]="answerForms[i]" (change)="inputChanges()" [style.border-color]="answerForms[i].invalid ? '' : 'green'">
    <br><br>
  </p>
</div>
